<!doctype html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="static/css/main.css">

        <script>
            function startTime() {
                var today = new Date();
                var h = today.getHours();
                var m = checkTime(today.getMinutes());
                var s = checkTime(today.getSeconds());

                document.getElementById('time').innerHTML = (h % 12) + ":" + m;
                t = setTimeout(function () { startTime() }, 500);
            }

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        </script>
    </head>

    <body onload="startTime()">
        <div class="main_container">
            <div class="clock" id="time"></div>
            
            <div class="menu_bar">
                <a href="{{ url_for('home') }} ">
                    <div class="menu_item">
                        <img class="icon" src="static/img/clock.png" />

                    </div>
                </a>
                <a href="{{ url_for('news') }} ">
                    <div class="menu_item">
                        <img class="icon" src="static/img/news.png" />
                    </div>
                </a>

                <a href="{{ url_for('weather') }} ">
                    <div class="menu_item">
                        <img class="icon" src="static/img/cloud.png" />
                    </div>
                </a>

                <a href="{{ url_for('school') }} ">
                    <div class="menu_item">
                        <img class="icon" src="static/img/school.png" />
                    </div>
                </a>

                <a href="{{ url_for('twitter') }} ">
                    <div class="menu_item">
                        <img class="icon" src="static/img/twitter.png" />
                    </div>
                </a>

                <a href="{{ url_for('imgur') }} ">
                    <div class="menu_item">
                        <img class="icon" src="static/img/imgur.png" />
                    </div>
                </a>
            </div>

            <div class="divider"></div>

            <div class="content">
                <blockquote class="imgur-embed-pub" 
                            lang="en" 
                            data-id="a/{{ imgur_album }}" 
                            data-context="false">
                    <a href="//imgur.com/{{ imgur_album }}">
                        Imgur Album
                    </a>
                </blockquote>
                <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            </div>
        </div>
    </body>
</html>